<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAG Agent</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <form id="chatForm">
        <div id="input-container">
            <textarea id="userInput" placeholder="Say something..." rows="4" cols="50" style="height: 66px;"></textarea>
            <button type="submit" id="sendButton">Send</button>
        </div>
        <div>
            <label for="toggleFeature" class="toggle-feature-label">使用した資料の詳細な説明</label>
            <input type="checkbox" id="toggleFeature">
        </div>
    </form>
    <div id="chat-container">
        <div id="chat-box">
            <!-- チャットメッセージを表示するエリア -->
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
